<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <style type="text/css">
    #bg{
         position: fixed;
         right: 0px;
         bottom: 0px;
         min-width: 100%;
         min-height: 100%;
         height: auto;
         width: auto;
         z-index: -99999;
         /*加滤镜*/
         /*-webkit-filter: grayscale(100%);*/
         /*filter:grayscale(100%);*/
     }
     ._white{
       color: white!important
     }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <img src="../../image/bj2.jpg" alt="" id='bg'>

  <header class="aui-bar aui-bar-nav"  style="background-color:rgba(0,0,0,0);position:fixed">
      <div class="aui-pull-left aui-btn" onclick="back()">
          <span class="aui-iconfont aui-icon-left"></span>返回
      </div>
      <div class="aui-title" id='equname'></div>
      <!-- <div class="aui-pull-right aui-btn aui-btn-outlined">
          <span class="aui-iconfont aui-icon-search"></span>
      </div> -->
  </header>

    <div style="width:100%;height:200px;background:url('../../image/kk.jpg') no-repeat;background-size:100% 200px;position: relative;margin-top:80px">

    </div>
    <ul class="aui-list aui-list-in" id='equid' style="background-color:rgba(0,0,0,0)">
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">产品型号</div>
            <div class="aui-list-item-right aui-font-size-16" style="max-width: 100%">{{item.type}}</div>
        </div>
      </li>
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">ID</div>
            <div class="aui-list-item-right aui-font-size-16">{{item.sn}}</div>
        </div>
      </li>
      <li class="aui-list-item" >
        <!-- <div style="width:100px">
            <div class="aui-list-item-title">状态</div>
        </div>
        <div class="aui-list-item-right">
            <input type="checkbox" class="aui-switch" checked v-on:click='' >
        </div> -->
        <div class="aui-list-item-inner">
            <div style="width:100px">
                <div class="aui-list-item-title">状态</div>
            </div>
            <p>
                <div class="aui-btn aui-btn-success" v-if="item.online==1">在线</div>
                <div class="aui-btn aui-btn-success" v-else>离线</div>
            </p>

            <!-- <div class="aui-list-item-right" v-if='item.online==1'>
                <input type="checkbox" class="aui-switch"  v-on:click='kg(state)' v-model='state.kgstate'>
            </div> -->
        </div>
      </li>
      <!-- <li class="aui-list-item" >
        <div style="width:100px">
            <div class="aui-list-item-title">状态</div>
        </div>
        <div class="aui-list-item-right">
            <input type="checkbox" class="aui-switch" checked v-on:click='' >
        </div>
        <div class="aui-list-item-inner">
            <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-font-size-16">节能投入:</div>
                <div class="aui-list-item-right aui-font-size-16" style="width:200px">已节约{{item.jnpay}}元</div>
            </div>
            <div class="aui-list-item-right">
                <input type="checkbox" class="aui-switch"  v-on:click='jn(state)' v-model="state.jnstate">
            </div>
        </div>
      </li> -->
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">电压（V）:</div>
            <div class="aui-list-item-right aui-font-size-20">{{item.meaVol}}</div>
        </div>
      </li>
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">电流（A）:</div>
            <div class="aui-list-item-right aui-font-size-20">{{item.meaEle}}</div>
        </div>
      </li>
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">有功功率（W）:</div>
            <div class="aui-list-item-right aui-font-size-20">{{item.tPower}}</div>
        </div>
      </li>
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">有功电度量（kWh）:</div>
            <div class="aui-list-item-right aui-font-size-20">{{item.tEle}}</div>
        </div>
      </li>
      <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">频率（Hz）:</div>
            <div class="aui-list-item-right aui-font-size-20">{{item.meaHz}}</div>
        </div>
      </li>
      <!-- <li class="aui-list-item" >
        <div class="aui-list-item-text">
            <div class="aui-list-item-title aui-font-size-16">漏电流（V）:</div>
            <div class="aui-list-item-right aui-font-size-20">{{item.pEle}}</div>
        </div>
      </li> -->
    </ul>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript">
    var hz=false;
    var tag=true;
    apiready = function() {
        $api.attr($api.byId('bg'),'src','../'+$api.getStorage('bg'))
        $api.fixStatusBar($api.dom('header'));

        // url主路径
        var url=api.loadSecureValue({ sync:true,
                key:'testurl'
        });
        var id=''
        var name=''
        if(api.pageParam.id){
          id=api.pageParam.id
          name=api.pageParam.name
        }
        else {
          id=-1
        }
        document.getElementById('equname').innerHTML=name;

        var item={
          type:{name:''},
          equNumber:'',
          number:'',
          tPower:'',
          meaEle:'',
          meaHz:'',
          tEle:'',
          online:'',
          state:'',
          jnstate:'',
          jnpay:'',
        };
        var state={
          kgstate:false,
        }
        var group = new Vue({
          el: '#equid',
          data: {
            item:item,
            state:state
          },
          methods:{
            kg:function(backstate){
              var state=''
              var namestate=''
              // console.log(JSON.stringify(state));
              if(backstate.kgstate==false){

                if(api.systemType=='android'){
                  namestate='合闸'
                  state='1';
                }else {
                  namestate='分闸'
                  state='0';
                }
              }else{

                if(api.systemType=='android'){
                  namestate='分闸'
                  state='0';
                }else {
                  namestate='合闸'
                  state='1'
                }
              }
              api.ajax({
                headers:{"Authorization":$api.getStorage('token')},
                  url: $api.getStorage('url')+'senddata/control/',
                  method: 'post',
                  data: {
                      values:{
                        switch:state,
                        deviceids:id
                      }
                  }
              }, function(ret, err) {
                  if (ret) {
                    console.log(JSON.stringify(ret));
                    api.toast({
                        msg: namestate+'成功',
                        duration: 2000,
                        location: 'bottom'
                    });
                  } else {
                    console.log(JSON.stringify(err));
                    api.toast({
                        msg: namestate+'失败',
                        duration: 2000,
                        location: 'bottom'
                    });
                  }
              });
            },
          }
        })
        getdata()

        function getdata(){
          console.log($api.getStorage('url')+"devicedata/deviceSingle/?deviceid="+id);
        api.ajax({
            headers:{"Authorization":$api.getStorage('token')},
            url:$api.getStorage('url')+"devicedata/deviceSingle/?deviceid="+id,
            method: 'get',
        }, function(ret, err) {
            if (ret) {
                // console.log(JSON.stringify(ret.data));
                // group.item=ret.data;
                group.item.sn=ret.data.sn;
                group.item.num=ret.data.num;
                group.item.type=ret.data.type.name;
                group.item.id=ret.data.id
                // group.item.meaEle=ret.ele;
                // group.item.meaHz=ret.meaHz;
                // group.item.tEle=ret.tEle;
                // group.item.online=ret.online;
                // console.log(JSON.stringify(group.item));
            } else {
                console.log(JSON.stringify(err));
                api.toast({
                    msg: '获取数据失败',
                    duration: 2000,
                    location: 'bottom'
                });

            }
        });
        api.ajax({
            headers:{"Authorization":$api.getStorage('token')},
            url:$api.getStorage('url')+"analysisdata/deviceparamslist/?deviceid="+id,
            method: 'get',
        }, function(ret, err) {
            if (ret) {
                console.log(JSON.stringify(ret.items));
                // group.item=ret.items;
                group.item.meaVol=ret.items[0].meaVol;
                group.item.meaEle=ret.items[0].meaEle;
                group.item.meaHz=ret.items[0].meaHz;
                group.item.tPower=ret.items[0].tPower;
                group.item.tEle=ret.items[0].tEle;
                group.item.online=1;
                console.log(JSON.stringify(group.item));
            } else {
                console.log(JSON.stringify(err));
                api.toast({
                    msg: '获取数据失败',
                    duration: 2000,
                    location: 'bottom'
                });

            }
        });
      }
      setInterval(getdata, 8000);
    }

    function back() {
        api.execScript({
            name: 'pdx',
            script: 'getData()'
        });
        api.historyBack({
            frameName: ''
        }, function(ret, err) {
            if (!ret.status) {
                api.closeWin();
            }
        });
    }


    function changeTitle(title){
      api.sendEvent({
          name: 'changeTitle',
          extra: {
              key1: title
          }
      });
    }


</script>

</html>
