<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>修改配电箱</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style type="text/css">
    #bg{
         position: fixed;
         right: 0px;
         bottom: 0px;
         min-width: 100%;
         min-height: 100%;
         height: auto;
         width: auto;
         z-index: -99999;
         /*加滤镜*/
         /*-webkit-filter: grayscale(100%);*/
         /*filter:grayscale(100%);*/
     }
     ._white{
       color: white!important
     }
    </style>
</head>


<body>
    <img src="../../image/bj2.jpg" alt="" id='bg'>
  <header class="aui-bar aui-bar-nav" style="background-color:rgba(0,0,0,0);position:fixed">
      <div class="aui-pull-left aui-btn" onclick="back()">
          <span class="aui-iconfont aui-icon-left"></span>返回
      </div>
      <div class="aui-title">修改配电箱</div>
      <!-- <div class="aui-pull-right aui-btn aui-btn-outlined">
          <span class="aui-iconfont aui-icon-search"></span>
      </div> -->
  </header>
    <ul class="aui-list aui-list-in" id='app' style="margin-top:80px;background-color:rgba(0,0,0,0)">
      <li class="aui-list-item">
           <div class="aui-list-item-inner">
               <div class="aui-list-item-label" style="color:white">
                   楼层图片
               </div>
               <div class="aui-list-item-input" onclick="ajaxPic()">
                 <img style='width:90px;height:70px' v-bind:src="cimg" />
               </div>
           </div>
       </li>
      <li class="aui-list-item">
          <div class="aui-list-item-inner">
              <div class="aui-list-item-label" style="color:white">
                  配电箱名称
              </div>
              <div class="aui-list-item-input">
                  <input type="text" placeholder="请输入配电箱名称" id='pdxmc' style="color:white">
              </div>
          </div>
      </li>

      <li class="aui-list-item">
           <div class="aui-list-item-inner">
               <div class="aui-list-item-label" style="color:white">
                   所属楼层
               </div>
               <div class="aui-list-item-input">
                   <select id='cellselect' style="color:white" >
                       <option v-for='item in items' :value='item.cellid' selected="selected" v-if='item.cellid==cellid'>{{item.cellname}}</option>
                        <option v-for='item in items' :value='item.cellid'  v-if='item.cellid!=cellid'>{{item.cellname}}</option>
                   </select>
               </div>
           </div>
       </li>

    </ul>
    <div lass="aui-list-item-inner" style="margin-top:50px;text-align:center">
      <div class="aui-btn aui-btn-info" style="margin-right:50px;" onclick='edit()'>修改</div>
      <div class="aui-btn" onclick="deletegroup()">删除</div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript">

    var url;
    var groupinfo;
    var cellimg='/storage/emulated/0/UZMap/A6058195763525/picture/p-571efa12.jpg';
    apiready = function() {
        $api.attr($api.byId('bg'),'src','../'+$api.getStorage('bg'))
        $api.fixStatusBar($api.dom('header'));

         url = api.getPrefs({
            sync: true,
            key: 'url'
        });



        if(api.pageParam.groupid){
          groupinfo=api.pageParam;
        }
        else {
          groupinfo={}
        }


        cells=[
        ];
        var app = new Vue({
          el: '#app',
          data: {
            items: cells,
            cellid:groupinfo.cellid,
            cimg:cellimg
          }
        })




        //获取楼层信息
        api.ajax({
            url: $api.getStorage('url')+'cells/?id='+$api.getStorage('userid'),
            method: 'get',
              }, function(ret, err) {
                  if (ret) {
                       console.log(JSON.stringify(ret));
                      //设置选择框中楼层
                      for(var i=0;i<ret.length;i++){
                       obj={}
                       obj.cellname=ret[i].cellname;
                       obj.cellid=ret[i].id;
                       cells.push(obj)
                      }
                      pdxmc.value=groupinfo.groupname;
                      document.getElementById('cellselect').value=groupinfo.cellid


                  } else {
                    console.log(JSON.stringify(err));
                  }
              })
    }

    function back() {
        api.historyBack({
            frameName: ''
        }, function(ret, err) {
            if (!ret.status) {
                api.closeWin();
            }
        });
    }

    function edit(){
        console.log();
        if(pdxmc.value==''){
          api.toast({
              msg: '请输入配电箱名称',
              duration: 2000,
              location: 'bottom'
          });
        }
        else{
          console.log(document.getElementById('cellselect').value);
          api.ajax({
                url: $api.getStorage('url')+'groupsedit/',
                method: 'post',
                data: {
                    values:{
                      groupid:groupinfo.groupid,
                      groupname:pdxmc.value,
                      userid:$api.getStorage('userid'),
                      cellid:document.getElementById('cellselect').value
                    }

                }
            }, function(ret, err) {
                if (ret) {
                  console.log(JSON.stringify(ret));
                    api.toast({
                        msg: '修改成功',
                        duration: 2000,
                        location: 'bottom'
                    });
                    api.execScript({
                        name: 'zgl',
                        script: 'getData()'
                    });
                    setTimeout(back,2000);
                  }
                 else {
                   console.log(JSON.stringify(err));
                  api.toast({
                      msg: '修改失败',
                      duration: 2000,
                      location: 'bottom'
                  });
                }
            });
        }
    }

    function deletegroup(){
      api.ajax({
            url: $api.getStorage('url')+'groupsedit/?groupid='+groupinfo.groupid,
            method: 'get',
        }, function(ret, err) {
            if (ret) {
              console.log(JSON.stringify(ret));
              var tag=ret.data;
              if(tag=='1'){
                api.toast({
                    msg: '配电箱下有设备，不可删除',
                    duration: 2000,
                    location: 'bottom'
                });
              }else{
                api.toast({
                    msg: '删除成功',
                    duration: 2000,
                    location: 'bottom'
                });
                api.execScript({
                    name: 'zgl',
                    script: 'getData()'
                });
                setTimeout(back,2000);
              }
            } else {
              console.log(JSON.stringify(err));
              api.toast({
                  msg: '删除失败',
                  duration: 2000,
                  location: 'bottom'
              });
              // console.log(JSON.stringify(err));
            }
        });
    }



function ajaxPic() {
        api.actionSheet({
                cancelTitle : '取消',
                buttons : ['相机', '相册']
        }, function(ret, err) {
                if (ret.buttonIndex != 3) {
                        var _sourceType = ""
                        if (ret.buttonIndex == 1) {
                                _sourceType = 'camera';
                        } else {
                                _sourceType = 'library';
                        }
                        api.getPicture({
                                sourceType : _sourceType,
                                allowEdit : true,
                                quality : 100
                        }, function(ret, err) {
                                if (ret && ret.data) {
                                      console.log(JSON.stringify(ret.data));
                                      app.cimg=JSON.stringify(ret.data);
                                      console.log(app.cimg);
                                } else {
                                        alert('你没有选择图片')
                                }
                        });
                }
        });
}
</script>

</html>
