<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style type="text/css">
    #bg{
         position: fixed;
         right: 0px;
         bottom: 0px;
         min-width: 100%;
         min-height: 100%;
         height: auto;
         width: auto;
         z-index: -99999;
         /*加滤镜*/
         /*-webkit-filter: grayscale(100%);*/
         /*filter:grayscale(100%);*/
     }
     ._white{
       color: white!important
     }
    </style>
</head>
<body>
  <img src="../../image/bj2.jpg" alt="" id='bg'>
<header class="aui-bar aui-bar-nav"  style="background-color:rgba(0,0,0,0);position:fixed">
    <div class="aui-pull-left aui-btn" onclick="back()">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </div>
    <div class="aui-title">新增网关</div>
    <!-- <div class="aui-pull-right aui-btn aui-btn-outlined">
        <span class="aui-iconfont aui-icon-search"></span>
    </div> -->
</header>

<ul class="aui-list aui-list-in" id='app' style="margin-top:80px;background-color:rgba(0,0,0,0)">
  <li class="aui-list-item">
      <div class="aui-list-item-inner">
          <div class="aui-list-item-label" style="color:white">
              设备号
          </div>
          <div class="aui-list-item-input">
              <input type="text" placeholder="" id='sn' style="color:white" >
          </div>
      </div>
  </li>

  <li class="aui-list-item">
       <div class="aui-list-item-inner">
           <div class="aui-list-item-label" style="color:white">
               空开数量
           </div>
           <div class="aui-list-item-input">
               <input type="text" placeholder="" id='kksl' style="color:white" >
           </div>
       </div>
   </li>

   <li class="aui-list-item">
        <div class="aui-list-item-inner">
            <div class="aui-list-item-label" style="color:white">
                设备型号
            </div>
            <div class="aui-list-item-input">
                <input type="text" placeholder="" id='sbxh' style="color:white" >
            </div>
        </div>
    </li>

    <li class="aui-list-item">
         <div class="aui-list-item-inner">
             <div class="aui-list-item-label" style="color:white">
                 所属分组
             </div>
             <div class="aui-list-item-input">
                 <select id='cellselect' style="color:white" >
                     <option v-for='item in items' :value='item.cellid' selected="selected" v-if='item.cellid==cellid'>{{item.cellname}}</option>
                      <option v-for='item in items' :value='item.cellid'  v-if='item.cellid!=cellid'>{{item.cellname}}</option>
                 </select>
             </div>
         </div>
     </li>
</ul>
<div lass="aui-list-item-inner" style="margin-top:50px;text-align:center">
  <div class="aui-btn aui-btn-info" style="margin-right:50px;" onclick='save()'>新增</div>
  <div class="aui-btn" onclick="back()">返回</div>
</div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript">
     var type='CCB--102A'
    apiready = function() {
        $api.attr($api.byId('bg'),'src','../'+$api.getStorage('bg'))
        $api.fixStatusBar($api.dom('header'));

    }
    function save(){
        if(sn.value==''){
          api.toast({
              msg: '请输入设备网关号',
              duration: 2000,
              location: 'bottom'
          });
        }
        else if(kksl.value==''){
          api.toast({
              msg: '请输入空开数量',
              duration: 2000,
              location: 'bottom'
          });
        }
        else if(sbxh.value==''){
          api.toast({
              msg: '请输入设备型号',
              duration: 2000,
              location: 'bottom'
          });
        }
        else{
          type=sbxh.value;
          console.log($api.getStorage('url')+'equsall/?equNumber='+sn.value+'&lenth='+kksl.value+'&type='+type+'&userid='+$api.getStorage('userid'));
          api.ajax({
              url: $api.getStorage('url')+'equsall/?equNumber='+sn.value+'&lenth='+kksl.value+'&type='+type+'&userid='+$api.getStorage('userid'),
              method: 'get',
           }, function(ret, err) {
              if (ret) {
                // console.log(JSON.stringify(ret));
                  if(ret.type=='ok'){
                    api.toast({
                        msg: '设备添加成功!',
                        duration: 2000,
                        location: 'bottom'
                    });
                    api.execScript({
                        name: 'sbgl',
                        script: 'getData()'
                    });
                    setTimeout(back,2000);
                  }else{
                    api.toast({
                        msg: '该设备已被添加过,请更换设备!',
                        duration: 2000,
                        location: 'bottom'
                    });

                  }

              } else {
                   console.log( JSON.stringify(err));
              }
           });
        }
    }

    function back() {
        api.historyBack({
            frameName: ''
        }, function(ret, err) {
            if (!ret.status) {
                api.closeWin();
            }
        });
    }




</script>

</html>
